# Obtención y Limpieza de Datos

In [462]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Obtención de datos
Los datos fueron obtenidos de la página de [Ministerio de Educación](http://www.mineduc.gob.gt/BUSCAESTABLECIMIENTO_GE/). Los datos representan todas las instituciones escolares (con diversificado) a todo el nivel nacional. Descargados en ``data/raw`` y juntados en un solo archivo llamado ``dataframe.xlsx``.

## Limpieza de datos

In [463]:
df = pd.read_excel('data/dataframe.xlsx')
df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINIA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,HÉCTOR ROLANDO CHUN POOU,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,VICTOR HUGO DOMÍNGUEZ REYES,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

### Descripción del Set de Datos
Los datos incluyen información específica de los diferentes centros educativos en Guatemala con diversificado. Esta información incluye identificadores, ubicación, encargados, contacto y otros datos relevantes.

In [464]:
rows, cols = df.shape
print(f'Observaciones: {rows}, Variables: {cols}')

Observaciones: 9332, Variables: 17

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           9332 non-null   object
 1   DISTRITO         9124 non-null   object
 2   DEPARTAMENTO     9332 non-null   object
 3   MUNICIPIO        9332 non-null   object
 4   ESTABLECIMIENTO  9332 non-null   object
 5   DIRECCION        9281 non-null   object
 6   TELEFONO         8797 non-null   object
 7   SUPERVISOR       9123 non-null   object
 8   DIRECTOR         8435 non-null   object
 9   NIVEL            9332 non-null   object
 10  SECTOR           9332 non-null   object
 11  AREA             9332 non-null   object
 12  STATUS           9332 non-null   object
 13  MODALIDAD        9332 non-null   object
 14  JORNADA          9332 non-null   object
 15  PLAN             9332 non-null   object
 16  DEPARTAMENTAL    9332 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

In [466]:
df.describe()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
count,9332,9124,9332,9332,9332,9281,8797,9123,8435,9332,9332,9332,9332,9332,9332,9332,9332
unique,9332,690,23,349,5321,6004,5445,658,4677,1,4,3,4,2,6,13,26
top,16-01-0138-46,01-403,CIUDAD CAPITAL,ZONA 1,INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA,CABECERA MUNICIPAL,22067425,CARLOS HUMBERTO GONZALEZ DE LEON,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),GUATEMALA NORTE
freq,1,268,1564,633,330,269,21,333,83,9332,7956,7604,6545,9040,3040,5719,1050

In [467]:
df.isnull().sum()

CODIGO               0
DISTRITO           208
DEPARTAMENTO         0
MUNICIPIO            0
ESTABLECIMIENTO      0
DIRECCION           51
TELEFONO           535
SUPERVISOR         209
DIRECTOR           897
NIVEL                0
SECTOR               0
AREA                 0
STATUS               0
MODALIDAD            0
JORNADA              0
PLAN                 0
DEPARTAMENTAL        0
dtype: int64

### Limpieza del Set de Datos

#### Variables con más operaciones de Limpieza

#### Estrategia por Variable
- CODIGO
    - Debido a que esta variable es un identificador único, se debe verificar que no existan duplicados o valores nulos.
- DISTRITO
    - Se debe verificar que no existan valores nulos.
- DEPARTAMENTO
    - Se debe verificar que no existan valores nulos.
    - Que los departamentos estén escritos correctamente y en mayúsculas.
- MUNICIPIO
    - Se debe verificar que no existan valores nulos.
    - Que los municipios estén escritos correctamente y en mayúsculas.
- ESTABLECIMIENTO
    - Se debe verificar que no existan valores nulos.
    - Que los establecimientos estén escritos en mayúsculas.
- DIRECCION
    - Que las direcciones estén escritas en mayúsculas.
    - Se debe verificar que no existan valores nulos.
        - Imputar valores nulos con un valor que represente la ausencia de una dirección.
- TELEFONO
    - Imputar valores nulos con un valor que represente la ausencia de un número de teléfono.
    - Eliminar valores que no sean números
    - Eliminar valores que no tengan 8 dígitos
- SUPERVISOR
    - Imputar valores nulos con un valor que represente la ausencia de un supervisor.
    - Que los nombres estén escritos en mayúsculas.
- DIRECTOR
    - Imputar valores nulos con un valor que represente la ausencia de un director.
    - Que los nombres estén escritos en mayúsculas.
- NIVEL
    - Verificar que no existan valores nulos.
    - Que los niveles estén escritos en mayúsculas.
    - Que sean todos de DIVERSIFICADO.
- SECTOR
    - Verificar que no existan valores nulos.
    - Que los sectores estén escritos en mayúsculas.
    - Que sean todos de OFICIAL | PRIVADO | COOPERATIVA | MUNICIPAL. 
- AREA
    - Verificar que no existan valores nulos.
    - Que las áreas estén escritos en mayúsculas.
    - Que sean todos de URBANA | RURAL.
- STATUS
    - Verificar que no existan valores nulos.
    - Que los status estén escritos en mayúsculas.
- MODALIDAD
    - Verificar que no existan valores nulos.
    - Que sean todos de BILINGÜE | MONOLINGÜE.
    - Dado que es una variable binaria, cambiar de tipo y nombre a "BILINGUE".
        - 0: MONOLINGÜE
        - 1: BILINGÜE
- JORNADA
    - Se debe verificar que no existan valores nulos.
    - Que las jornadas estén escritas en mayúsculas.
- PLAN
    - Se debe verificar que no existan valores nulos.
    - Que los establecimientos estén escritos en mayúsculas.
- DEPARTAMENTAL
    - Se debe verificar que no existan valores nulos.
    - Que los establecimientos estén escritos en mayúsculas.

### Ejecución de la Limpieza

#### CODIGO

In [468]:
df['CODIGO'].duplicated().sum()

0

Podemos observar que no existen valores duplicados en la variable de ``CODIGO``

#### DISTRITO

In [469]:
df['DISTRITO'].isna().sum()

208

Al existir 208 valores nulos, procedemos a...

In [470]:
df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,GUSTAVO ADOLFO SIERRA POP,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,GILMA DOLORES GUAY PAZ DE LEAL,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINIA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,HÉCTOR ROLANDO CHUN POOU,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,VICTOR HUGO DOMÍNGUEZ REYES,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

#### DEPARTAMENTO

In [471]:
df['DEPARTAMENTO'].isna().sum()

0

La variable ``DEPARTAMENTO`` no tiene valores nulos

In [472]:
# VALUE COUNTS SORTED BY DEPARTAMENTO
df['DEPARTAMENTO'].value_counts().sort_index()

DEPARTAMENTO
ALTA VERAPAZ       374
BAJA VERAPAZ       114
CHIMALTENANGO      359
CHIQUIMULA         170
CIUDAD CAPITAL    1564
EL PROGRESO        125
ESCUINTLA          628
GUATEMALA         1479
HUEHUETENANGO      516
IZABAL             368
JALAPA             151
JUTIAPA            310
PETEN              366
QUETZALTENANGO     491
QUICHE             244
RETALHULEU         316
SACATEPEQUEZ       319
SAN MARCOS         574
SANTA ROSA         157
SOLOLA             138
SUCHITEPEQUEZ      385
TOTONICAPAN         90
ZACAPA              94
Name: count, dtype: int64

Los departamentos están escritos correctamente y en mayúsculas.

#### MUNICIPIO

In [473]:
df['MUNICIPIO'].isna().sum()

0

La variable ``MUNICIPIO`` no tiene valores nulos

In [474]:
df[df['MUNICIPIO'].str.contains('[a-z]')]

Empty DataFrame
Columns: [CODIGO, DISTRITO, DEPARTAMENTO, MUNICIPIO, ESTABLECIMIENTO, DIRECCION, TELEFONO, SUPERVISOR, DIRECTOR, NIVEL, SECTOR, AREA, STATUS, MODALIDAD, JORNADA, PLAN, DEPARTAMENTAL]
Index: []

Los municipios están escritos correctamente y en mayúsculas.

#### ESTABLECIMIENTO

In [475]:
df['ESTABLECIMIENTO'].isna().sum()

0

La variable ``ESTABLECIMIENTO`` no tiene valores nulos

In [476]:
df[df['ESTABLECIMIENTO'].str.contains('[a-z]')]

Empty DataFrame
Columns: [CODIGO, DISTRITO, DEPARTAMENTO, MUNICIPIO, ESTABLECIMIENTO, DIRECCION, TELEFONO, SUPERVISOR, DIRECTOR, NIVEL, SECTOR, AREA, STATUS, MODALIDAD, JORNADA, PLAN, DEPARTAMENTAL]
Index: []

Los establecimientos están escritos en mayúsculas.

#### DIRECCION

In [477]:
df.shape

(9332, 17)

In [478]:
df['DIRECCION'].isna().sum()

51

In [479]:
df[df['DIRECCION'].isna()][['ESTABLECIMIENTO', 'DIRECCION']]

                                        ESTABLECIMIENTO DIRECCION
96    INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
281   LICEO DE BACHILLERATO EN COMPUTACION Y EDUCACI...       NaN
858      ESCUELA PRIVADA DE EDUCACION FISICA DE ORIENTE       NaN
978                            LICEO TECNICO CONCEPCION       NaN
1104                         COLEGIO NACIONAL AMERICANO       NaN
1106              INSTITUTO PRIVADO "TECNICO AMERICANO"       NaN
1107                                     COLEGIO KEPLER       NaN
2149   COLEGIO MIXTO DIURNO 'FRANKLIN DELANO ROOSEVELT'       NaN
2150  CENTRO EDUCACIONAL DE ESTUDIOS ECONOMICO-ADMIN...       NaN
2843  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
3123                        COLEGIO MIXTO DIVERSIFICADO       NaN
3420  INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPE...       NaN
4248             CENTRO EDUCATIVO JOSE MILLA Y VIDAURRE       NaN
4257                  COLEGIO CRISTIANO "HERMOSO JESUS"       NaN
5029          COLEGIO PRIVADO MIXTO JOSE ERNESTO MONZON       NaN
5124  INSTITUTO DE CIENCIAS COMERCIALES POR COOPERAT...       NaN
5125  INSTITUTO DE CIENCIAS COMERCIALES POR COOPERATIVA       NaN
5203  INSTITUTO NORMAL MIXTO POR COOPERATIVA ADSCRIT...       NaN
5766  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
5824  ESCUELA NORMAL REGIONAL DE PARVULOS ADS. A ESC...       NaN
5929  INSTITUTO DE BACHILLERATO POR MADUREZ 'JUTIAPA...       NaN
5933  INSTITUTO PARTICULAR MIXTO DE EDUCACION DIVERS...       NaN
5937  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
6026  INSTITUTO PARTICULAR MIXTO DE CIENCIAS COMERCI...       NaN
6083            COLEGIO PARTICULAR MIXTO LICEO ORIENTAL       NaN
6141                                     LICEO SAN JOSE       NaN
6192  INSTITUTO GUATEMALTECA DE EDUCACION RADIOFONIC...       NaN
6266  INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...       NaN
6323  INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...       NaN
6324                   INSTITUTO PRIVADO MIXTO NOCTURNO       NaN
6354        ESCUELA DE CIENCIAS COMERCIALES 'SANTA ANA'       NaN
6374  INSTITUTO PRIVADO DE CIENCIAS COMERCIALES 'ANT...       NaN
6395            ESCUELA PRIVADA DE CIENCIAS COMERCIALES       NaN
6452  INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...       NaN
6703  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
6786      CENTRO DE ESTUDIOS MODERNOS NOVISIMA ACADEMIA       NaN
7948  COLEGIO PARROQUIAL MIXTO 'EL SAGRADO CORAZON D...       NaN
8029               LICEO PARTICULAR MIXTO 'SAN ANTONIO'       NaN
8186              INSTITUTO DIVERSIFICADO PRIVADO MIXTO       NaN
8291           COLEGIO PRIVADO MIXTO "SANTIAGO APOSTOL"       NaN
8321    INSTITUTO PRIVADO MIXTO 'MIGUEL ANGEL ASTURIAS'       NaN
8452                 INSTITUTO NORMAL MIXTO 'MALACATAN'       NaN
8453                           COLEGIO CORAZON DE JESUS       NaN
8656  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
8678              COLEGIO PRIVADO DR.JORGE ROMERO IMERY       NaN
8720                     COLEGIO MIXTO LICEO PANAJACHEL       NaN
8906  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
9008                       INSTITUTO TECNICO INDUSTRIAL       NaN
9114      INSTITUTO TECNICO VOCACIONAL PRIVADO 'HEBRON'       NaN
9181  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN
9274  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...       NaN

Existen 51 establecimientos que no tienen especificada una dirección. Procedemos a imputar estos valores con un valor que represente la ausencia de una dirección.

In [480]:
df['DIRECCION'] = df['DIRECCION'].fillna('SIN DIRECCION')

In [481]:
df['DIRECCION'].isna().sum()

0

In [482]:
df[df['DIRECCION'].str.contains('[a-z]')]

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
592,04-01-0655-46,04-020,CHIMALTENANGO,CHIMALTENANGO,INST. PRIVADO MIXTO DE EDUC. DIVERSIFICADA COL...,"3a. CALLE 6-108 ZONA 1, COLONIA LAS MAJADAS",78392471,LESLY YOLANDA PEREZ CHAMALE,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,DIARIO(REGULAR),CHIMALTENANGO
1365,00-01-2984-46,NaN,CIUDAD CAPITAL,ZONA 1,COLEGIO DE COMPUTACION 'BLAISE PASCAL',8a. AV. 3-30 ZONA 1,NaN,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),GUATEMALA NORTE
3796,01-08-2975-46,NaN,GUATEMALA,MIXCO,SAN LUIS GOZAGA,"8a. AVE. 6-12 ZONA 1, MIXCO, GUATEMALA",NaN,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,DIARIO(REGULAR),GUATEMALA OCCIDENTE
4486,01-15-2400-46,01-219,GUATEMALA,VILLA NUEVA,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,ANEXO I CASA No.14 COLONIA CIUDAD REAL II,NaN,DAVID SALOMON MEJIA SAMAYOA,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,DIARIO(REGULAR),GUATEMALA SUR
4658,01-16-2893-46,NaN,GUATEMALA,VILLA CANALES,CENTRO EDUCACIONAL BENEDICTINO,1a. AV. 5-77 ZONA 2,24480639,NaN,NaN,DIVERSIFICADO,PRIVADO,RURAL,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,DIARIO(REGULAR),GUATEMALA ORIENTE
7482,11-04-0117-46,NaN,RETALHULEU,SAN MARTIN ZAPOTITLAN,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,APARTADO No. 3-11905,NaN,NaN,NaN,DIVERSIFICADO,PRIVADO,RURAL,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,DIARIO(REGULAR),RETALHULEU

In [483]:
df['DIRECCION'] = df['DIRECCION'].str.upper()

En la dirección, al referirse a algunas calles/avenidas ordinales, se tenía una minúscula.

#### TELEFONO

In [484]:
df['TELEFONO'].isna().sum()

535

In [485]:
df[df['TELEFONO'].isna()][['ESTABLECIMIENTO', 'TELEFONO']]

                                        ESTABLECIMIENTO TELEFONO
8      INSTITUTO INTERCULTRUAL ALTAVERAPACENCESE -IIAV-      NaN
68                    COLEGIO PARTICULAR MIXTO CARLOS V      NaN
69                    COLEGIO PARTICULAR MIXTO CARLOS V      NaN
85                    INSTITUTO MIXTO NUEVOS HORIZONTES      NaN
87    INSTITUTO PRIVADO BASICO Y BACHILLERATO POR MA...      NaN
...                                                 ...      ...
9246  INSTITUTO MIXTO DE EDUCACION DIVERSIFICADA POR...      NaN
9274  INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONIC...      NaN
9281         INSTITUTO DE TURISMO Y AVIACION DE ORIENTE      NaN
9282         INSTITUTO DE TURISMO Y AVIACION DE ORIENTE      NaN
9300                             COLEGIO MAYA TECULUTAN      NaN

[535 rows x 2 columns]

In [486]:
df['TELEFONO'] = df['TELEFONO'].fillna('')

In [487]:
df[df['TELEFONO'].str.contains('[^0-9]', na=False)][['ESTABLECIMIENTO', 'TELEFONO']]

                                       ESTABLECIMIENTO           TELEFONO
140                                    COLEGIO 'MESON'  79504027-79504028
264   LICEO COEDUCATIVO PRIVADO "JAVIER DE LA VERAPAZ"  78208583-78209143
380      COLEGIO PARTICULAR MIXTO CIENCIA Y DESARROLLO  79540830-79540909
381      COLEGIO PARTICULAR MIXTO CIENCIA Y DESARROLLO  79540830-79540909
495                   INSTITUTO TECNOLOGICO CHIMALTECO  78391288-78392217
...                                                ...                ...
9158       CENTRO DE ESTUDIOS AVANZADOS DE TOTONICAPÁN  56769964-77663283
9159       CENTRO DE ESTUDIOS AVANZADOS DE TOTONICAPÁN   56769964-7766328
9171       CENTRO DE ESTUDIOS AVANZADOS DE TOTONICAPÁN  77663283-77663283
9192         COLEGIO PRIVADO MIXTO FRANCISCO MARROQUIN  77375333-42470723
9209         COLEGIO PRIVADO MIXTO FRANCISCO MARROQUIN  77375333-42470723

[144 rows x 2 columns]

Podemos ver el pésimo formato de los números del teléfono. Existen también algunos con longitud de 7 dígitos, lo que implica que son números de teléfono de antes del 2000.

Hay números de teléfono separados por '-', se elimina este carácter para los números con longitud de 8 dígitos (XXXX-XXXX) y para los de 7 (XXX-XXXX)

In [488]:
df['TELEFONO'] = df['TELEFONO'].astype(str)

In [489]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x: 
    x.split('-')[0] 
    if len(x.split('-')) == 2 and (len(x.split('-')[0]) == 4 or len(x.split('-')[0]) == 3) and len(x.split('-')[1]) == 4 
    else x
)

Para los que tienen diferentes números de teléfono apuntads y separados por '-', '/', ', ', o ' '; procedemos a tomar el primer número.

In [490]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x: 
    x.split('-')[0].strip() 
    if len(x.split('-')[0]) in [8, 7]
    else x
)

In [491]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x: 
    x.split('/')[0] 
    if len(x.split('/')[0]) in [8, 7]
    else x
)

In [492]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x: 
    x.split(' ')[0] 
    if len(x.split(' ')[0]) in [8, 7]
    else x
)

In [493]:
import re

In [494]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x: 
    re.split(r',\s*', x)[0] 
    if len(re.split(r',\s*', x)[0]) in [8, 7] 
    else x
)

Se corre este código 2 veces debido a que hay números que tienen más de un separador.

In [495]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x:
    x.split('-')[0]
    if len(x.split('-')) == 2 and (len(x.split('-')[0]) == 4 or len(x.split('-')[0]) == 3) and len(x.split('-')[1]) == 4
    else x
)

In [496]:
df[df['TELEFONO'].str.contains('[^0-9]', na=False)][['ESTABLECIMIENTO', 'TELEFONO']]

                                        ESTABLECIMIENTO              TELEFONO
1967                     COLEGIO MIXTO 'SANTA CATALINA'       736617 Y 714495
2002                                    INSTITUTO REFCO  439990 ESTX. 225-250
4942  INSTITUTO DIVERSIFICADO PRIVADO MIXTO 'LUIS AR...              57 47546

Para este punto, los establecimientos que quedan tienen números con longitud 6; se procede a imputar estos valores

In [500]:
df['TELEFONO'] = df['TELEFONO'].apply(
    lambda x:
    '' 
    if len(x.split(' ')[0]) == 6
    else x.replace(' ', '')  # To handle INSTITUTO DIVERSIFICADO PRIVADO MIXTO 'LUIS ARTURO LEMUS'
)

In [501]:
df[df['TELEFONO'].str.contains('[^0-9]', na=False)][['ESTABLECIMIENTO', 'TELEFONO']]

Empty DataFrame
Columns: [ESTABLECIMIENTO, TELEFONO]
Index: []

In [503]:
# Print all numbers with a different length than 7 or 8 and are not ''
df[df['TELEFONO'].apply(lambda x: len(x) not in [7, 8] and x != '')][['ESTABLECIMIENTO', 'TELEFONO']]

                                        ESTABLECIMIENTO          TELEFONO
1433      CENTRO PROFESIONAL DE ESTUDIOS DE COMPUTACION               238
1457                       COLEGIO MIXTO PADRE BETANZOS               238
1463      LICEO PROFESIONAL DE INFORMATICA Y TECNOLOGIA    25325662329566
1516                                   LICEO MONTECARLO               232
1602                 ESCUELA DE ESTUDIOS PENITENCIARIOS              2220
2309            ESCUELA DE COMUNICACIONES Y ELECTRONICA               331
2654  INSTITUTO NACIONAL TECNOLÓGICO DE EDUCACIÓN DI...              3033
3788                     LICEO COEDUCATIVO GUATEMALTECO             22505
3921  LICEO MIXTO NOCTURNO TECNICO MERCANTIL (POR MA...              2485
4759              CENTRO CULTURAL SAGRADA FAMILIA NO. 2                40
6265               COLEGIO TECNOLOGICO NUEVA GENERACION             30745
6370                      CENTRO EDUCTIVO MOPAN -CEMOP-             49723
7076      INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                 0
7881             CENTRO EDUCATIVO MIXTO LICEO DEL VALLE             43521
8973            INSTITUTO PRE-UNIVERSITARIO FRANCISCANO              5565
9092              COLEGIO PRIVADO MIXTO "SANTA BARBARA"  4210394058993785
9094                COLEGIO PRIVADO MIXTO SANTA BARBARA  4210394058993780
9123      COLEGIO EVANGELICO PRIVADO MIXTO NUEVA VISION  4281099156375310